extends layout

block content
    ol(
        class='list-decimal space-y-2.5'
    )
        each obj in content
            li
                a(
                    href=obj.link target='_blank'
                    class='font-medium text-blue-600 dark:text-blue-500 hover:underline'
                )= obj.title
        else
            li ニュースの取得に失敗しました