extends layout

block content
    p(class='text-base/5 font-medium mb-2')= content
    form(method='post' action='/hello/post' class='mx-auto')
        .mb-6
            label(for='msg' class=`block mb-2 text-sm font-medium text-gray-900 \
                dark:text-white`
                ) Message:
            input(type='text' name='message' class=`bg-gray-50 border \
                border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 \
                focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 \
                dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 \
                dark:focus:border-blue-500`
                )#msg

        button(type='submit' class=`text-white bg-blue-700 hover:bg-blue-800 \
            focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium \
            rounded-ld text-sm w-full sm:w-auto px-5 py-2.5 text-center \
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800`
        ) 送信

    //p= content
    //これを p!= content に変えると、<br>などHTMLタグがエスケープされずに正しく改行できる
    // ただし、悪意あるスクリプトを実行することもできてしまうので使用しないこと
